.tile {
  // height: 120vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1.5fr));
  grid-template-areas: "t1 t1 t2 t3"
                       "t1 t1 t4 t5"
                       "t6 t7 t8 t8";


    @media only screen and (max-width: 1100px) {
      grid-template-areas:"t1 t1"
                          "t1 t1"
                          "t2 t3"
                          "t4 t5"
                          "t6 t7"
                          "t8 t8";
  }

  @media only screen and (max-width: 600px) {
    grid-template-areas: "t1"
                        "t1"
                        "t2"
                        "t3"
                        "t4"
                        "t5"
                        "t6"
                        "t7"
                        "t8"; 
}


  &__t1 {
    grid-area: t1;
    background-image: url("../img/bath-3-lg.jpeg");
    background-size: cover;
    background-position: bottom;

      @media only screen and (max-width: 800px) {
        height: 40rem;
        background-position: right;
    }
  }

  &__t2 {
    grid-area: t2;
    padding: 8rem;
    h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: .3rem;
    }
  }

  &__t3 {
    grid-area: t3;
    background-image: url("../img/bath-2.jpeg");
    background-position: center;
    background-size: cover;

      @media only screen and (max-width: 500px) {
        height: 30rem;
    }
  }

  &__t4 {
    grid-area: t4;
    background-image: url("../img/bath-1.jpeg");
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: 500px) {
      height: 30rem;
  }
  }

  &__t5 {
    grid-area: t5;
    padding: 8rem;
    h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: .3rem;
    }
  }

  &__t6 {
    grid-area: t6;
    background-image: url("../img/sink.jpg");
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: 600px) {
      height: 30rem;
  }
  }

  &__t7 {
    grid-area: t7;
    padding: 8rem;
    h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: .3rem;
    }
  }

  &__t8 {
    grid-area: t8;
    background-image: url("../img/kitchen-lg.jpeg");
    background-position: right;
    background-size: cover;
    display:block;

      @media only screen and (max-width: 800px) {
        height: 30rem;
        background-position: right;
    }
  }
}
